.header-container {
     display: flex;
     align-items: center;
     gap: 5px;
     color: var(--bg-gradient);

     h1 {
          font-weight: 700;
          font-size: 25px;
     }
}

.icon {
     font-size: 30px;
}