.input-container {
     border-top-left-radius: 50px;
     border-bottom-left-radius: 50px;
     background: rgb(233, 229, 229);

     input {
          background: transparent;
          padding: 6px 0 8px 15px;

          &::placeholder {
               font-size: 12px;
               font-family: var(--ff-lato);
          }
     }



}