.input-container {
     border-top-left-radius: 50px;
     border-bottom-left-radius: 50px;
     background: rgb(233, 229, 229);

     input {
          min-height: 35px;
          padding: 0 15px;
          background: transparent;

          &::placeholder {
               font-size: 12px;
               font-family: var(--ff-lato);
          }
     }



}