:root {
     --ff-lato: 'Lato';
     // default color
     --white: white;
     --red: red;

     --bg-gradient: rgb(69, 63, 161);
     --gradient: linear-gradient(90deg, rgba(69, 63, 161, 1) 0%, rgba(14, 8, 133, 1) 0%, rgba(79, 4, 103, 1) 100%);
     --shadow: rgba(255, 255, 255, 0.56)
}