.task {
     display: flex;
     justify-content: space-between;
     align-items: center;
     align-content: inherit;
     margin-top: 20px;
     padding-bottom: 3px;
     border-bottom: 2px dashed var(--purple);
     padding: 1px;

     &__input-container {
          display: flex;
          align-items: center;
          gap: 10px;
     }

     &__btn-container {
          display: flex;
          align-items: center;
          gap: 8px;
     }

     &__btn-edit {
          color: var(--orange);
     }

     &__btn-delete {
          color: var(--red);
     }


}