.button {
     background: var(--orange);
     font-family: var(--ff-lato);
     font-weight: 500;
     color: var(--white);
     padding: 0 25px;
     min-height: 35px;
     font-size: 10px;
     border-top-right-radius: 50px;
     border-bottom-right-radius: 50px;
     transition: var(--transition);

     &:hover {
          background: var(--orange-hover);
     }

}