.language-toggle {
     outline: 0;
     color: var(--white);
     font-size: 15px;
     padding: 6px 15px;
     border-radius: 7px;
     border: 2px solid transparent;
     transition: .15s ease-in-out;
     background: var(--purple);
     appearance: none;
     cursor: pointer;

     &:focus {
          border-color: var(--red);
     }
}